<div class="container responsive-grid">
    <mat-card *ngFor="let element of firstCards">
        <mat-card-header>
            <mat-card-title>{{element.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="element.image" alt="pic-description"> 
        <mat-card-content>
            <p>{{element.description}}</p>
            <p> Price: {{element.price}}</p>
            <p> Creator: {{element.creator}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Suscribe</button>
            <button mat-button>Add to favorites</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="container responsive-grid">

    <mat-card class="card-container" *ngFor="let element of secondCards">
        <mat-card-header>
            <mat-card-title>{{element.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="element.image" alt="pic-description"> 
        <mat-card-content>
            <p>{{element.description}}</p>
            <p> Price: {{element.price}}</p>
            <p> Creator: {{element.creator}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Suscribe</button>
            <button mat-button>Add to favorites</button>
        </mat-card-actions>
    </mat-card>

</div>

<div class="container responsive-grid">
    <mat-card class="card-container" *ngFor="let element of newCourses">
        <mat-card-header>
            <mat-card-title>{{element.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="element.image" alt="pic-description"> 
        <mat-card-content>
            <p>{{element.description}}</p>
            <p> Price: {{element.price}}</p>
            <p> Creator: {{element.creator}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Suscribe</button>
            <button mat-button>Add to favorites</button>
        </mat-card-actions>
    </mat-card>
</div>

