
<div class="container">
    <div mat-dialog-title>
        <h1>Add Course</h1>
    </div>
    <br>
    <form  #courseForm = "ngForm">
        <div mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput  name="name" [(ngModel)]="courseData.title" required>
            </mat-form-field>
           
          
            <mat-form-field appearance="outline" class="text-area" >
                <mat-label>Description</mat-label>
                <textarea matInput name="description" [(ngModel)]="courseData.description" required></textarea>
            </mat-form-field>
         
        
        </div>

    </form>
    
    <div mat-dialog-actions class="action">
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-button  color="primary" (click)="addCourse()">Save</button>
    </div>    

</div>
