.container {
  padding: 20px;
  margin-top: 60px; // Adjust this value as needed to create space below the navbar
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.add-recipe-button {
  font-size: 16px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}


/* Estilo para las tarjetas de recetas */
.recipe-card {
  cursor: pointer; /* Cambia el cursor a una mano al hacer hover */
  transition: transform 0.2s; /* Añade una transición suave al hacer hover */
}

.recipe-card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta al hacer hover */
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }

  .add-recipe-button {
    font-size: 14px;
  }

  .card-container {
    grid-template-columns: 1fr;
  }
}
