.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.form__container {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.form__container h1 {
  margin-bottom: 20px;
}

.form__container mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.form__container button {
  width: 100%;
  margin-top: 20px;
}

.form__container hr {
  margin: 20px 0;
}

.form__container .small-text {
  display: block;
  text-align: center;
  margin-top: 10px;
}
