.create-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  h2 {
    color: #267144;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #267144;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #267144;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #205933;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
  }